// Couleurs principales
$primary-color: #5CBE82;  // Vert écolo
$secondary-color: #004D40; // Vert foncé
$background-color: #F5F5F5; // Gris clair
$text-color: #333333; // Texte noir

// Typographie
$font-stack: 'Open Sans', sans-serif;
