// Couleurs principales
$primary-color: #82ac82;  // Vert écolo
$secondary-color: #004D40; // Vert foncé
$third-color: #ffffff;   // Vert clair
$background-color: #f9f9f9f9; // Gris clair
$text-color: #000000; // Texte noir

// Typographie
$font-stack: 'Open Sans', sans-serif;
