
    <nav class="navbar">
      <!--Logo → Accueil-->
      <a class="logo" routerLink="/" >
        <img src="../../../assets/images/logo-ecoride.webp" alt="Logo Ecoride">
      </a>

        <!-- Bouton burger (mobile) -->
  <button class="burger" (click)="toggleMenu()">
    <span></span><span></span><span></span>
  </button>

      <!--Menu de navigation-->
    <ul class="nav-links">
      <li><a routerLink="/search-ride">Rechercher un trajet</a></li>
      <li><a routerLink="/publish-ride" >Publier un trajet</a></li>
      <li class="profile-menu">
        <a class="nav-links">Profil</a>
        <ul class="dropdown">
          <!-- Si l'utilisateur n'est pas connecté -->
          <li *ngIf="!authService.isLoggedIn()">
            <a routerLink="/login">Connexion</a>
          </li>
          <li *ngIf="!authService.isLoggedIn()">
            <a routerLink="/register">Inscription</a>
          </li>
      
          <!-- Si l'utilisateur est connecté -->
          <li *ngIf="authService.isLoggedIn()">
            <a routerLink="/profile">Mon Profil</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
            <a (click)="authService.logout()">Déconnexion</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
