@use '../styles/variables' as *;
@use '../styles/mixins' as *;

* {
  box-sizing: border-box;
}
.searchbar {
  @include flex-center;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 10px;
  
  @include responsive(mobile) {
    flex-direction: column;
  }
}